<!DOCTYPE html>
<html>
  <head>
    <title>MP4 Video Converter</title>
  </head>
  <body>
    <div class="content">
        <h3>s3 bucket originalvideos</h3>
        <div>
          <h3>Upload file:</h3>
          <form method="POST" action="/upload" enctype=multipart/form-data>
            <input type=file name=file>
            <input type=submit value=Upload>
          </form>
        </div>
        <div>
          <h3>These are your uploaded files:</h3>
          <p>Click on the filename to download it.</p>
          <ul>
            {% for item in originals %}
            <li>
            <a href="/download/{{ item }}"> {{ item }} </a>
            </li>
            {% endfor %}
          </ul>
        </div>
        <div>
          <h3>These are your modified files:</h3>
          <p>Click on the filename to download it.</p>
          <ul>
            {% for item in modified %}
            <li>
            <a href="{{ item }}" target="_blank"> {{ item }} </a>
            </li>
            {% endfor %}
          </ul>
        </div>
    </div>
  </body>
</html>